* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Didact Gothic", sans-serif;
}

.headPrincipal {
  background-color: #396eb0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70px;
}

.headPrincipal h1 {
  font-size: 50px;
  color: #fff98e;
  font-style: italic;
  font-weight: 900px;
}

hr {
  background-color: #fff98e;
  margin: 1px;
}

nav {
  background-color: #396eb0;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  text-decoration: none;
}

nav ul li {
  font-size: 15px;
  list-style: none;
  font-weight: bolder;
  color: #292923;
}

nav ul li:hover {
  padding: 10px 10px;
  border-radius: 10px;
  border: 5px black;
  background-color: #fff98e;
}

.newsSection {
  padding: 40px;
  background-color: #fff98e;
}

.newsSection h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 17px;
}

.boxNews {
  width: 300px;
  padding: 20px;
  margin: 20px;
  background-color: white;
}

.boxNews img {
  width: 250px;
  display: flex;
  flex-direction: center;

}

.boxFather{
  display: flex;
  
}